<div>
  <div id="heading">
      <!-- Change the h1 text to change the bot name -->    
      <h1>TESTING Bot Name</h1>
  </div>
  <div id="webchat" role="main"></div>
</div>    

<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

<script>
  const styleOptions = {

     // Add styleOptions to customize the Web Chat canvas
     hideUploadButton: true
  };


  var theURL = "https://a3c669f6ac2e4e77ad43beab3e15be.e7.environment.api.powerplatform.com/powervirtualagents/bots/9039268f-1c25-4ac0-a5a7-935c0bc9e62c/directline/token?api-version=2022-03-01-preview"
  var environmentEndPoint = theURL.slice(0,theURL.indexOf('/powervirtualagents'));
  var apiVersion = theURL.slice(theURL.indexOf('api-version')).split('=')[1];
  var regionalChannelSettingsURL = `${environmentEndPoint}/powervirtualagents/regionalchannelsettings?api-version=${apiVersion}`; 

  var directline;
      fetch(regionalChannelSettingsURL)
          .then((response) => {
              return response.json();
              })
          .then((data) => {
              directline = data.channelUrlsById.directline;
              console.log(data)
              })
          .catch(err => console.error("An error occurred: " + err));

fetch(theURL)
      .then(response => response.json())
      .then(conversationInfo => {
          window.WebChat.renderWebChat(
              {
                  directLine: window.WebChat.createDirectLine({
                      domain: `${directline}v3/directline`,
                      token: conversationInfo.token,
                  }),
                  styleOptions
              },
              document.getElementById('webchat')
          );
      })
      .catch(err => console.error("An error occurred: " + err));

</script>